$unit-height: 23px;

.datetime-picker {
    &__button {
        width: 255px;
        height: 29px;
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border: none;
        position: relative;

        i {
            position: absolute;
            right: 2px;
            top: 1px;
            display: inline;
            font-size: 25px;
            color: #03a9f4;
            cursor: pointer;
        }
    }

    .calendar {
        width: 198px;
        margin-top: 12px;
        background-color: #d7dbdd;
        font-size: 12px;
        &__navigation {
            width: 100%;
            display: grid;
            list-style: none;
            grid-template-columns: repeat(7, 1fr);
            &--item {
                height: $unit-height;
                width: 100%;
                background-color: #a9cce3;
                border: 1px solid #b2babb;

                button {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    line-height: 4px;
                    background-color: transparent;
                    color: #2e97cf;
                    border: none;
                    outline: none;
                }
            }

            .month-select-item {
                grid-column: 3 / 5;
                display: flex;
                align-items: center;
            }

            .year-select-item {
                display: flex;
                align-items: center;
                select {
                    min-width: none;
                }
            }
            #year {
                width: 100%;
                display: block;
                min-width: none;
            }
        }
        &__dayname,
        &__daynum {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }

        &__dayname {
            &--item {
                height: $unit-height;
                display: flex;
                background-color: #3498db;
                border: 1px solid #b2babb;
                list-style: none;
                align-items: center;
                justify-content: center;
                p {
                    font-size: 12px;
                    font-weight: bold;
                    color: #7b241c;
                }
            }
        }

        &__daynum {
            &--item {
                height: $unit-height;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                border: 0.5px solid #b2babb;
                background-color: #fff;
                cursor: pointer;
            }
            &--item.blank {
                background-color: transparent;
                cursor: default;
            }
            &--item.active {
                background-color: #00ace6;
            }
        }
    }

    #calendar {
        display: none;
    }
    #calendar.visible {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}
