@use "./variables" as *;
@use "./mixins" as *;
@use "./font" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    border-top: 4px solid $primary-dark;
    font-family: "Kozuka Gothic Pr6N R", sans-serif;
    letter-spacing: normal;
    line-height: 2;
    font-size: 1.3rem;
    color: $text-secondary;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

@media screen and (max-width: $pc) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: $pc) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: $md) {
    html {
        font-size: 37.5%;
    }
}

@media screen and (max-width: $sm) {
    html {
        font-size: 25%;
    }
}
