@font-face {
    font-family: "Times New Roman";
    src: url("./assets/fonts/times new roman.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kozuka Gothic Pr6N R";
    font-style: normal;
    font-weight: normal;
    src: local("Kozuka Gothic Pr6N R"),
        url("./assets/fonts/KozGoPr6NRegular.woff") format("woff");
}

@font-face {
    font-family: "RyuminPro Medium";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/G-OTF-GRyuminPro-Medium.otf") format("otf");
}
