// palete
$primary: #ff9200;
$primary-dark: #f0831e;
$primary-light: #ffc472;

$bg-default: #fff;
$bg-paper: #fbfbfc;
$bg-footer: #fdf1e3;
$bg-gradient: #fff1dd;

$text-primary: #66402b;
$text-secondary: #73523f;
$text-active: #fff;
$text-highlight: $primary-dark;

$border-primary: #ccc6c2;
$boder-primary-light: #d9d9d9;
$boder-primary-dark: #989898;

// spacing
$xs: 320px;
$sm: 640px;
$md: 768px;
$pc: 1030px;
$lg: 1300px;
$xl: 1600px;
$rentina: 2000px;

// text props
$line-height-base: 4rem;
