/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colors ==========*/
    --bg-default: #121214;
    --bg-paper: #232227;

    --text-primary: #ffffff;
    --text-secondary: #595959;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Spacing ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mg-0-25: 0.25rem;
    --mg-0-5: 0.5rem;
    --mg-0-75: 0.75rem;
    --mg-1: 1rem;
    --mg-1-5: 1.5rem;
    --mg-2: 2rem;
    --mg-2-5: 2.5rem;
    --mg-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@font-face {
    font-family: "Times New Roman";
    src: url("./assets/fonts/times new roman.ttf");
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--normal-font-size);
    background-color: var(--bg-default);
    color: var(--text-primary);
    min-height: 100vh;
    max-width: 100vw;
}

.container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.main {
    flex: 1;
}

.aside {
    width: 248px;
    padding-right: 10px;
}

.aside__wrapper {
    width: 100%;
    background: var(--bg-paper);
}

.title {
    font-size: 12px;
    margin-top: 33px;
    margin-left: 20px;
    word-spacing: -0.2px;
    letter-spacing: -0.2px;
    line-height: 20px;
    color: var(--text-secondary);
}

.section-1__acticle {
    margin-top: 30px;
}

.section-1__acticle {
    display: flex;
    gap: 22px;
}

.section-1__image {
    width: 146px;
    min-height: 140px;
    margin-left: 21px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-1__image img {
    width: 130px;
    display: block;
    object-fit: contain;
}

.section-1__image p {
    display: block;
    font-size: 12px;
    line-height: 10px;
    color: var(--text-secondary);
}

.section-1__content--title {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
    font-weight: normal;
}

.section-1__content--description {
    margin-top: 8px;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: -0.6px;
    word-spacing: 1.8px;
    color: var(--text-secondary);
}

.section-1__info--script {
    font-size: 12px;
    line-height: 10px;
    padding-bottom: 15px;
    letter-spacing: -0.4px;
    word-spacing: 1px;
    padding-top: 4px;
    margin-left: 36px;
    color: var(--text-secondary);
    border-bottom: 1px dotted var(--text-secondary);
}

.section-1__info--action {
    margin-top: 14px;
    margin-left: 37px;
}

.info-action {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    letter-spacing: -0.5px;
    word-spacing: 1px;
    line-height: 10px;
    text-decoration: none;
    color: var(--text-primary);
}

.section-2 {
    margin-top: 87px;
    margin-left: 36px;
}

.section-2__title {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: -0.4px;
    word-spacing: 1px;
    font-weight: normal;
}

.section-2__subtitle,
.section-2__list {
    margin-top: 4px;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: -0.5px;
    word-spacing: 1.4px;
    color: var(--text-secondary);
}

.section-2__listwraper {
    margin-top: 12px;
    padding-bottom: 13px;
    border-bottom: 1px dotted var(--text-secondary);
    display: flex;
    gap: 2px;
}

.section-2__list--item {
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 24px;
}

.section-2__list--item p {
    margin-left: 6px;
    font-size: 12px;
    letter-spacing: -0.5px;
    text-decoration: underline;
}

.section-1__action {
    margin-top: 15px;
}

.aside__wrapper {
    margin-top: 22px;
    padding: 72px 22px 38px;
}

.aside__wrapper p.aside__devider {
    width: 100%;
    display: block;
    border-top: 1px solid #353439;
}

.aside__image {
    height: 96px;
    object-fit: contain;
    display: block;
    margin: 28px auto 22px;
}

.aside__content {
    padding-left: 12px;
}

.aside__content--title {
    font-size: 12px;
    line-height: 10px;
    font-weight: 300;
    word-spacing: 1.6px;
    letter-spacing: -0.5px;
}

.aside__content--description1 {
    margin-top: 9px;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: -0.5px;
    word-spacing: 1px;
    color: var(--text-secondary);
}

.aside__content--description2 {
    margin-top: 4px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.5px;
    word-spacing: 0.5px;
    color: #767884;
}

.aside__content--highlight {
    color: var(--text-primary);
    background: transparent;
}

.aside__action {
    margin-top: 48px;
}
