@use "../common/variables" as *;

.banner {
    padding-top: 14px;
    background-image: linear-gradient($bg-gradient, #fff);
    &__item {
        position: relative;
        &--text {
            position: absolute;
            bottom: 40px;
            left: 54px;

            font-size: 2.6rem;
            font-family: "RyuminPro Medium", sans-serif;
            font-weight: 500;
            line-height: 40px;
            text-shadow: -1px -1px #fff;
        }
    }
}
