@use "../common//variables" as *;

$banner-gap: 3.6rem;

.header {
    .notification {
        line-height: $line-height-base;
        font-size: 1.2rem;
        margin-top: -0.4rem;
        margin-left: 0.4rem;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 0.4rem;
        margin-top: -0.6rem;
        img {
            width: 50%;
            margin-right: $banner-gap;
            &:last-child {
                transform: translateX(-1.4rem);
            }
        }
    }

    &__info {
        flex: 1;
        margin-right: 0.8rem;
        p {
            text-align: right;
        }

        &--address {
            letter-spacing: -0.03rem;
        }

        &--number,
        &--dayoff {
            line-height: $line-height-base;
            letter-spacing: -0.03rem;
            color: $text-highlight;
            font-size: 2.8rem;
        }

        &--dayoff {
            font-size: 1.2rem;
            margin-top: -1rem;
            span {
                margin-left: 1rem;
            }
        }

        &--working-time,
        &--booking-time {
            line-height: 1.8rem;
            font-size: 1.2rem;
            word-spacing: 0.3rem;
            letter-spacing: 0.02rem;
            span {
                margin-left: 0.8rem;
            }
        }

        &--number {
            img {
                height: 2.4rem;
            }
        }
    }
}
