@use "../common//variables" as *;

$nav-height: 5.5rem;
$nav-divider-height: 2.3rem;
$border-submenu: #d19c5d;

.navbar {
    height: $nav-height;
    border-top: 1px solid $border-primary;
    border-bottom: 1px solid $border-primary;

    background: $bg-paper;

    ul {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        height: 100%;
    }

    &__item {
        height: 100%;
        position: relative;
        &::before {
            width: 1px;
            height: $nav-divider-height;
            position: absolute;
            left: 0;
            top: 50%;
            content: "";
            transform: translateY(-50%);
            border-left: 1px solid $boder-primary-dark;
        }

        &--link {
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 0.7rem;
            border-radius: 2px;

            color: $text-primary;
            font-size: 1.5rem;
            line-height: $line-height-base;
            letter-spacing: -0.06rem;

            text-align: center;
            text-transform: uppercase;
            &.active {
                background: url(./assets/images/bg-overlay.png) no-repeat center;
                color: #fff;
                font-weight: 500;
                letter-spacing: 0.02rem;
            }
        }
    }
    &__item:last-child {
        &::after {
            width: 1px;
            height: $nav-divider-height;
            position: absolute;
            top: 50%;
            right: 0;
            content: "";
            transform: translateY(-50%);
            border-right: 1px solid $boder-primary-dark;
        }
    }

    &__item.menu {
        position: relative;
        &:hover ul {
            display: flex;
            flex-direction: column;
        }
        ul {
            width: 100%;
            height: fit-content;
            display: none;
            position: absolute;
            top: 5.3rem;
            left: 0;
            background-color: $primary-light;
            z-index: 10;
            li {
                height: $line-height-base;
                padding: 2px;
                border-bottom: 1px solid $border-submenu;

                &:last-child {
                    border: none;
                }
                a {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;

                    color: $text-primary;
                    font-size: 1.5rem;
                    line-height: 3.8rem;
                    letter-spacing: -0.05rem;
                    text-align: center;
                    text-transform: uppercase;
                }
                &:hover > a {
                    background: url(./assets/images/bg-overlay.png) no-repeat
                        center;
                    color: #fff;
                    font-weight: 500;
                }

                &.submenu {
                    position: relative;
                    &:hover {
                        ul {
                            display: flex;
                            flex-direction: column;
                            li a:hover {
                                background: url(./assets/images/bg-overlay.png)
                                    no-repeat center;
                                color: #fff;
                                font-weight: 500;
                            }
                        }
                    }

                    ul {
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $md) {
    .navbar ul {
        grid-template-columns: repeat(7, auto);
    }
}
